*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D1F20;
}
.container{
    width : 99vw;
    height: 99vh;
}
.window_chat{
    width: 100%;
    height: 80%;
    overflow: auto;
}

.user{
    width: 100%;
    display: flex;
    height: 1.4rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: #1D1F20;
}
.self{
    flex-direction: row-reverse;
}
.user .logo{
    width: 1rem;
    height: 1rem;
    background-color: brown;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;

}

.window_message{
    width: 100%;
    height: 20%;
    background: #1D1F20;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
textarea{
    height: 90%;
    width: 75%;
}
.send{
    height: 90%;
    width: 20%;
}




